<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首页</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../js/bootstrap.min.js"></script>

    <script type="text/javascript">

        window.onload=function()
        {
            var checkboxs=document.getElementsByName("selectone");
            var selectone=document.getElementById("selectone");
            cklen=checkboxs.length;
            selectone.onclick=function()
            {
                if(this.checked==true)
                {
                    for(var i=0;i<cklen;i++)
                    {
                        checkboxs[i].checked=true;
                    }
                    document.getElementById("allSel").innerHTML="取消"
                }
                else
                {
                    for(var i=0;i<cklen;i++)
                    {
                        checkboxs[i].checked=false;
                    }
                    document.getElementById("allSel").innerHTML="全选"
                }
            }
        }
    </script>
</head>

<body>
<div style="padding:0px; margin:0px;">
    <ul class="breadcrumb" style="  margin:0px; ">
        <li><a href="#">询价管理</a></li>
        <li>询价列表</li>
    </ul>
</div>
<form class="form-inline">
    <div class="row alert alert-info" style="margin:0px; padding:3px;">
        <table style="border-collapse:separate; border-spacing:5px 5px;">
    <div class="form-group" >
        <tr>
            <th><label class="" for="activename1">询价单号：</label></th>
            <th><input type="text" class="form-control" id="activename1" placeholder="请输入询价单号"></th>
            <th><label class="" for="activename2">品牌：</label></th>
            <th><input type="text" class="form-control" id="activename2" placeholder="请输入品牌"></th>
            <th><label class="" for="activename3">客户：</label></th>
            <th><input type="text" class="form-control" id="activename3" placeholder="请输入客户"></th>
            <th><label class="" for="activename4">供应商：</label></th>
            <th><input type="text" class="form-control" id="activename4" placeholder="请输入供应商"></th>
            <th><label class="" for="activename5">询价方式：</label></th>
            <th><select class="form-control" id="activename5">
                    <option value="">-请选择-</option>
                    <option value="0">邮件</option>
                    <option value="1">人工询价</option></select> </th>

            <th><a class="btn btn-success"  style="background:burlywood" href="inquiry_add.html">新建</a></th>

            <th><input type="submit" style="background:goldenrod" class="btn btn-success"  value="发送"/></th>


        </tr>
        <tr>
            <th><label class="" for="activename6">询价日期：</label></th>
            <th><input type="date" value="" class="form-control" id="activename6" /></th>
            <th><label class="" for="activename7">至：</label></th>
            <th><input type="date" value="" class="form-control" id="activename7" /></th>
            <th><label class="" for="activename8">回复日期：</label></th>
            <th><input type="date" value="" class="form-control" id="activename8" /></th>
            <th><label class="" for="activename9">至：</label></th>
            <th><input type="date" value="" class="form-control" id="activename9" /></th>
            <th><label class="" for="activename10">发送状态：</label></th>
            <th><select class="form-control" id="activename10">
                    <option value="">-请选择-</option>
                    <option value="0">未发送</option>
                    <option value="1">已发送</option>
                </select> </th>
            <th><input type="reset" class="btn btn-success" value="重置"/> </th>
            <th> <input type="submit" class="btn btn-danger" value="查询"/> </th>
        </tr>
    </div>
    </table>
    </div>

    <div class="row" style="padding:15px; padding-top:0px; ">
        <table class="table  table-condensed table-striped">
            <tr>
                <th><input type="checkbox" id="selectone" />
                    <span class="allSel" id="allSel">全选</span></th>
                <th>询价单号</th>
                <th>询价单号</th>
                <th>询价日期</th>
                <th>询价方式</th>
                <th>客户名字</th>
                <th>品牌名字</th>
                <th>供应商名字</th>
                <th>已发送</th>
                <th>业务员</th>
                <th>操作</th>
            </tr>
            <tr>
                <td><input type="checkbox" name="selectone" /></td>
                <td>1001</td>
                <td>20180205</td>
                <td>邮件</td>
                <td>用友</td>
                <td>nike</td>
                <td>nike贸易公司</td>
                <td>未发送</td>
                <td>杨凯</td>
                <th>
                    <a href="">发送</a>
                    <a href="../inquiry/inquiry_update1.html">修改</a>
                    <a href="">删除</a>


                </th>
            </tr>


        </table>
    </div>
</form>
</body>
</html>
