<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../js/bootstrap.min.js"></script>

    <script type="text/javascript">

//        按添加按钮，增加一行
        var row_count = 1;
        function addNew()
        {
            row_count++;
            var table1 = $('#table1');
            var row = $("<tbody></tbody>");
            var tr = $("<tr>"+row_count+"</tr>");
            tr.append($("<td><input type='checkbox' name='selectone' id='selectone"+row_count+"' value='New'></td>"));
            tr.append("<td><input type='text' id= 'foreignname"+row_count+"'  name='product_foreignname'  placeholder='请输入外文品名'  size='50'/></td>");
            tr.append("<td><input type='text' id= 'type"+row_count+"' name='product_type'  placeholder='请输入型号'  size='50'/></td>");
            tr.append("<td><input type='text' id= 'number"+row_count+"' name='inquiry_number'  placeholder='请输入数量'  size='20'/></td>");
            tr.append("<td><input type='button' value='删除' onclick='delRow(this)'></td>");
            row.append(tr);
            table1.append(row);
        }
//        删除
        function delRow(obj)
        {
            $(obj).parent().parent().remove();
        }



    </script>
</head>

<body>
<div style="padding:0px; margin:0px;">
    <ul class="breadcrumb" style="  margin:0px; " >
        <li><a href="#">询价管理</a></li>
        <li>修改询价信息</li>
    </ul>
</div>

<form name="txt" action="" class="form-horizontal">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-4">
            <input  type="submit" class="btn btn-success" value="修改"/>
            <a class="btn btn-warning" href="../brand/brand_list.html">返回上一级</a>
        </div>
    </div>

    <!--询价信息;客户 品牌 供应商-->
    <h5 class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">基本信息</h5>

    <table style="border-collapse:separate; border-spacing:10px 10px;">
        <tr>
            <td><label >询价单号</label></td>
            <td><input type="text" name=""  placeholder="请输入询价单号（不用输入，自动生成）" disabled="disabled"/></td>
            <td><label >询价日期</label></td>
            <td><input type="text" name=""  placeholder="请输入询价日期（不用输入，自动生成系统时间）" disabled="disabled"/></td>
            <td><label >询价方式</label></td>
            <td><select id="activename1">
                    <option value="0">邮件</option>
                    <option value="1">人工询价</option>
                </select></td>
            <td><label >发送状态</label></td>
            <td><select id="activename2" disabled="disabled">
                <option value="0">未发送</option>
                <option value="1">已发送</option>
            </select></td>
        </tr>
        <tr>
            <td><label >客户名称</label></td>
            <td><input type="text" name=""  placeholder="请输入客户名称" /></td>
            <td><label >客户联系人</label></td>
            <td><input type="text" name=""  placeholder="客户联系人"  disabled="disabled"/></td>
            <td><label >供应商编号</label></td>
            <td><input type="text" name=""  placeholder="供应商编号" disabled="disabled"/></td>
            <td><label >业务员</label></td>
            <td><input type="text" name=""  placeholder="请输入业务员（默认登录用户，不可修改）" disabled="disabled"/></td>
        </tr>
        <tr>
            <td><label >品牌名称</label></td>
            <td><input type="text" name=""  placeholder="请输入品牌名称" /></td>
            <td><label >供应商名称</label></td>
            <td><input type="text" name=""  placeholder="请输入供应商名称" /></td>
            <td><label >询价语言</label></td>
            <td><select id="activename3" >
                <option value="0">DE</option>
                <option value="1">EN</option>
            </select></td>
            <td><label >业务员备注</label></td>
            <td><input type="text" name=""  placeholder="请输入业务员备注" /></td>
        </tr>
        <tr>

            <td><label >回复日期</label></td>
            <td><input type="text" name=""  placeholder="请输入回复日期" /></td>
            <td><label >供应商联系人</label></td>
            <td><input type="text" name=""  placeholder="" disabled="disabled"/></td>
            <td><label >供应商邮箱</label></td>
            <td><input type="text" name=""  placeholder="" disabled="disabled"/></td>
            <td><label >供应商特点</label></td>
            <td><input type="text" name=""  placeholder="" disabled="disabled"/></td>

        </tr>
    </table>

    <!--产品信息-->
    <div class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">
        <span class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">产品信息</span>
        <input type="button" value="添加" onclick="addNew();" />
    </div>


<!--添加型号栏-->

        <div>
            <table id="table1" border="1">
                <tbody border="1">
                <tr>
                    <th><input type="checkbox" id="allSel"  class="allSel"/></th>
                    <th>外文品名</th>
                    <th>型号</th>
                    <th>数量</th>
                    <th>操作</th>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td><input type="checkbox" id="selectone1" /></td>
                    <td><input type='text' id= 'foreignname1'  name='product_foreignname'  placeholder='请输入外文品名'  size='50'/></td>
                    <td><input type="text" id= 'type1' name="product_type"  placeholder="请输入型号" size="50" /></td>
                    <td><input type="text" id= 'number1' name="inquiry_number"  placeholder="请输入数量" size="20"/></td>
                    <td><input type='button' value='删除' onclick='delRow(this);' /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</form>

</body>
</html>
