<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../js/bootstrap.min.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
    <ul class="breadcrumb" style="  margin:0px; " >
        <li><a href="#">询价管理</a></li>
        <li>修改询价信息</li>
    </ul>
</div>

<form action="" class="form-horizontal">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-4">
            <input  type="submit" class="btn btn-success" value="修改"/>
            <a class="btn btn-warning" href="../brand/brand_list.html">返回上一级</a>
        </div>
    </div>

    <!--询价信息;客户 品牌 供应商-->
    <h5 class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">基本信息</h5>

    <table>
        <tr>
            <td><label class="col-sm-3 control-label">询价单号</label></td>
            <td><input type="text" name="" class="form-control input-sm" placeholder="请输入询价单号（不用输入，自动生成）" disabled="disabled"/></td>
            <td><label class="col-sm-3 control-label">询价日期</label></td>
            <td><input type="text" name="" class="form-control input-sm" placeholder="请输入询价日期（不用输入，自动生成系统时间）" disabled="disabled"/></td>
            <td></td>
        </tr>


    </table>




    <div class="row">





        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-3 control-label">询价单号</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control input-sm" placeholder="请输入询价单号（不用输入，自动生成）" disabled="disabled"/>
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-3 control-label">询价日期</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control input-sm" placeholder="请输入询价日期（不用输入，自动生成系统时间）" disabled="disabled"/>
                </div>
            </div>
    </div>

        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-3 control-label">询价日期</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control input-sm" placeholder="请输入品牌名称（必填）"/>
                </div>
            </div>
        </div>


    </div>
    <!--开始 -->
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-3 control-label">厂家名称</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control input-sm" placeholder="请输入厂家名称"/>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-3 control-label">官方网站</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control input-sm" placeholder="请输入官方网站"/>
                </div>
            </div>
        </div>
    </div>
    <!--结束 -->
    <!--开始 -->
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-3 control-label">联系方式</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control input-sm" placeholder="请输入联系方式"/>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-3 control-label">电子邮箱</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control input-sm" placeholder="请输入电子邮箱"/>
                </div>
            </div>
        </div>
    </div>
    <!--结束 -->
    <!--开始 -->
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-3 control-label">品牌特点</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control input-sm" placeholder="请输入品牌特点"/>
                </div>
            </div>
        </div>

    </div>
    <!--结束 -->

    <h5 class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">其他信息</h5>
    <!--开始 -->
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-3 control-label">负责业务员</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control input-sm" placeholder="请输入业务员名字（默认登录用户）"/>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label class="col-sm-3 control-label">制单员</label>
                <div class="col-sm-9">
                    <input type="text" name="" class="form-control input-sm" placeholder="默认登录用户，不可修改"/>
                </div>
            </div>
        </div>
    </div>
    <!--结束 -->

    <div class="row">
        <div class="col-sm-3 col-sm-offset-4">
            <input  type="submit" class="btn btn-success" value="保存"/>
            <a class="btn btn-warning" href="../brand/brand_list.html">返回上一级</a>
        </div>
    </div>
</form>

</body>
</html>
