<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../../js/bootstrap.min.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
 <ul class="breadcrumb" style="  margin:0px; " >
    	<li><a href="#">品牌管理</a></li>
        <li>查询品牌</li>
    </ul>
</div>
<form class="form-inline">
<div class="row alert alert-info"  style="margin:0px; padding:3px;" >

     <div class="form-group">
         <label class="" for="activename">品牌名字：</label>
        <input type="email" class="form-control" id="activename" placeholder="请输入品牌名字">
      </div>

    <input type="button"   class="btn btn-danger"     value="查询"/>
    <a  class="btn btn-success"  href="../brand/brand_add.html">添加品牌</a>
    
</div>
<div class="row" style="padding:15px; padding-top:0px; ">
	<table class="table  table-condensed table-striped">
    	<tr>
        	<th>编号</th>
            <th>品牌名称</th>
            <th>厂家名称</th>
            <th>官方网站</th>
            <th>联系方式</th>
            <th>电子邮件</th>
            <th>品牌特点</th>
            <th>负责业务员</th>
            <th>操作</th>
        </tr>
       	<tr>
        	<td>1001</td>
            <td>nike</td>
            <td>耐克厂家</td>
            <td>耐克官网</td>
            <td>10086</td>
            <td>xxxx@qq.com</td>
            <td>禁止询价</td>
            <td>杨凯</td>
            <th>
            <a href="../brand/brand_update.html">修改</a>
            <a href="">删除</a>
            </th>
        </tr>



    </table>
</div>
</form>
</body>
</html>
